$turquoise: #004A5D;
$turquoise: #306a8d;
$orange: #F48120;
$blue: #31B8EF;
$blue: #1198cf;
$lightBlue: #D6F1FC;
$textGray: #555;
$textGrayDark: #333;
$lightGray: #dadfe3;
$green: #5A5;
$guiSelect: #DEDEDE;
$guiIcon: $textGray;
$guiFolder: $blue;