@import 'colors.scss';

/* Sticky Footer */
html,body{
    height:100% !important;
    margin:0;
}
body{
    display: flex;
    flex-flow: column;
    font-family: Cabin, sans-serif;
    overflow: auto;
}
main{
	flex-grow: 1;
  margin-top: 60px;
}


header, main, footer{ 
  .container{
      max-width:1100px;
      width:80%;
      margin:0 auto;
    }
}

.actionItems{
    display: inline-block;
    
    a{
        text-decoration: none;
        margin-right: 9px;
        color: dimgray;
        transition: color .5s;
        display: inline-block;


        &:hover{
            color:black;
        }
    }
    &.actionItemsHeader{
      margin-bottom: 30px;
    }
}

ul.fileManagerView{
    display: inline-flex;
    padding: 0;

    li{
        list-style-type: none;

        a{
            text-transform: uppercase;
            color: $turquoise;
            padding: 0 1em;
            border-left: solid 2px $lightGray;
            font-size: 18px;
            text-decoration: none;

            &.active{
                color: $orange;
            }
        
        }
        &:first-of-type a{
            padding-left:0;
            border-left: none;
        }
    }
}

.articleTree,
.articleGUI{
    a.objectAnchor{
        text-decoration: none;
        color: $textGray;

        &.selected{
            background: $guiSelect;
        }

        .fa-folder{
            color: $guiFolder;
        }
    }
}




