@import 'colors';

@mixin buttonColor($color) {
    background-color: $color;
    &:hover{
        background-color: lighten($color, 10%);
        cursor: pointer;
    }
}

/* Sticky Footer */
html,body{
    height:100% !important;
    margin:0;
}
body{
    display: flex;
    flex-flow: column;
    font-family: Cabin, sans-serif;
    overflow: auto;
    background: $white;
}
main{
	flex-grow: 1;
    margin-top: 60px;
}


.container{
  max-width:1100px;
  width:80%;
  margin:0 auto;
}

.actionItems{
    display: inline-block;
    
    a{
        text-decoration: none;
        margin-right: 9px;
        color: $medGray;
        transition: color .5s;
        display: inline-block;


        &:hover{
            color: $darkGray;
        }
    }
    &.actionItemsHeader{
      margin-bottom: 30px;
    }
}

.fileManagerView{
    display: inline-flex;
    padding: 0;

    li{
        list-style-type: none;

        a{
            text-transform: uppercase;
            color: $turquoise;
            padding: 0 1em;
            border-left: solid 2px $darkGray;
            font-size: 18px;
            text-decoration: none;

            &.active{
                color: $orange;
            }
        
        }
        &:first-of-type a{
            padding-left:0;
            border-left: none;
        }
    }
}

.articleTree,
.articleGUI{
    a.objectAnchor{
        text-decoration: none;
        color: $medGray;

        &.selected{
            background: $lightGray;
        }

        .fa-folder{
            color: $blue;
        }
    }
}

input:not([type='checkbox']):not([type='hidden']){
    border: solid 1px $darkGray;
    padding-left: 9px;
    width: 100%;
    font-size: 1.2em;
    padding-left: 4px;
    box-sizing: border-box;

    &:focus{
        outline: none;
    }
}

button.button{
    color: $white;
    border: none;
    font-size: 17px;
    padding: .5em 2em;
    float: right;

    &:focus{
        outline: 0;
    }

    &.updateBtn{
        @include buttonColor($blue);
    }

    &.cancelBtn{
        @include buttonColor($orange);
        margin-right:10px;
    }

    &.deleteBtn{
        @include buttonColor($red);
        margin-right: 10px;
     }
}

.validationError{
    color: $red; 

    h3{
        margin: 0 0 10px;
    }
    p{
        margin: 0 0 5px;
    }
}
.validationSuccess{
    color: $green;
}



