@import 'colors';

header{
    color: $white;
    box-shadow: 2px 6px 11px #AAA;
    padding: 1em 0;

    a{
        text-decoration: none;
    }
    
    .headerContainer{
        display: flex;
        align-items: center;

        img.logo{
            max-width: 200px;
        }

        ul.nav{
            display: flex;
            margin:0; 
            padding: 0 2em;
            flex-grow: 1;
            font-weight: 700;
            list-style: none;

            li{
                font-size: .9em;
                margin-right: 30px;

                &:last-child{
                    margin-right: 0;
                    margin-left: auto;
                }

                a{ 
                    text-decoration: none;
                    border-bottom: solid 2px transparent;
                    padding-bottom: .4em;
                    text-transform: uppercase;
                    color: $turquoise;
                    position: relative;
                    z-index: 2;
                }

                ul{
                    display: none;
                }

                &:hover a, 
                a.active{
                    border-bottom:solid 2px $orange; 
                }

                &:hover{
                    ul{
                        display: block;
                        position: absolute;
                        padding: 1.5em 0;
                        z-index: 3;

                        li{
                            background: $lightBlue;
                            padding: 0;
                            margin: 0;

                            &:hover a,
                            a.active{
                                background: $blue;
                                color: $white;
                            }

                            a{
                                border: none; 
                                padding: 1em 2em;
                                display: block;
                            }
                        }
                    }   
                }
            }
        }

        i{
            background: $turquoise;
            border-radius: 50%;
            color: $white;
            display: inline-flex;
            height: 30px;
            width: 30px;
            align-items: center;
            justify-content: center;
            margin-right: 13px;

            &:hover{
                background:lighten($turquoise, 10%);
            }
        }
    }
}
