@import 'colors';

.collatedGridHeader, 
.collatedGrid{
    display: grid;
    grid-template-columns: 1.45fr .9fr .8fr 1.3fr;

    &.loggedIn{
        grid-template-columns:  1.45fr .9fr .8fr 1.3fr .6fr;            
    }

    &.categories,
    &.folders{
        grid-template-columns: 2fr 1fr .6fr;
    }
}

.collatedGridHeader {
    color: $white;
    background: $blue;

    & > .row{
        display: flex;
        align-items: center;
        padding: 0 0.4em;

        .sortArrow{
            margin-right: .6em;

            a.ASC,
            a.DESC{
                display: block;
                border-color: transparent;
                border-top-color: $medGray;
                border-style: solid;
                border-width: 9px;
                width: 2px;

                &.active{
                    border-top-color: $lightGray;
                }
            }
            a.ASC{
                transform: rotate(180deg);
                margin-bottom: 4px;
            }
        }
        &.noSort{
            padding-left: 1.6em;
        }
    }
}

.collatedGrid {
    color: $medGray;
    .row{
        padding: 1em 1em 1em 1.6em;

        &.odd{
            background: $lightGray;
        }

        &.titleRow a{
            color: $medGray;
            font-size: 1.1em;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }

        &.cats{
            position: relative;

            .categoryList {
                opacity: 0;
                position: absolute;
                background: $white;
                border: 1px $turquoise solid;
                padding: 1em;
                z-index: -1;
                transition: opacity .1s ease-in,
                            z-index 1s linear;  
                left: 50%;
                transform: translateX(-50%);
                box-sizing: border-box;

                &.show{
                    opacity: 1;
                    z-index: 2;
                    transition: opacity .3s ease-in;   
                }

                ul{
                    margin: 0 !important;
                    padding: 0;
                    list-style: none;

                    li{
                        margin-bottom: .8em;
                        white-space: pre;

                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }

                .fas.fa-times-circle{
                   float: right;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .seeMore{
                text-decoration: none;
                color: $medGray;
            }
        }

        &.actionItems{
            .tag{
                display: none;
            }
        }
    }
}