@import 'colors';

.articleContainer, 
.articleForm{

	label {
       display: flex;
       align-items: center;
       margin: 1.5em 0;
	   font-size: 1.4em;

        &.detached{
            margin-bottom: .5em;
       }

       .value{
            font-size: .85em;
            margin-left: 1em;
       }
    }

    input[type]{
        margin-left: 2rem;
    }

	input[type=checkbox],
    input[type=radio]{
        transform: scale(1.4);
    }

	input[type=text]{
        width: 100%;
        text-indent: 5px;
        border-radius: 3px;
        border: solid 1px gray;
        font-size: 1.3em;
    }

    select{
        font-size: 17px;
        color: $medGray;
    }

	ul.categoryList{        
        background: $lightGray;
        padding: 1.4em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 3px;
        border:solid $medGray 1px;    
        margin: 0;

        li{
            list-style-type: none;
            padding-right: 51px;
        }
    }

    textarea#tinyMCE,
    .singleArticleBorder {
        min-height: 60vh;
    }  
}

.articleContainer{
	.singleArticleBorder{
		border: solid $darkGray 1px;
		padding: 1em 2em;
		border-radius: 3px;
	}
}

.articleForm{
	select{
        transform: scale(1.2);
        transform-origin: top left;
        margin-bottom: 7px;
    }

    ul.formCheckbox{        
        li{
            label{
                display: flex;
                align-items: center;
                margin: .4em 0;
                font-size: 1.2em;

                input{
                    margin-left: auto;
                }
            }
        }
    }

    textarea#textOnlyContent{
        display: none;
    }
}