@import 'colors.scss';

.articleContainer, 
.articleForm{

	label {
       display: flex;
       align-items: center;
       margin: 1.5em 0;
	   font-size: 1.4em;

        &.detached{
            margin-bottom: .5em;
       }

       .value{
            font-size: .85em;
            margin-left: 1em;
       }
    }

    input[type]{
        margin-left: 2rem;
    }

	input[type=checkbox],
    input[type=radio]{
        transform: scale(1.4);
    }

	input[type=text]{
        width: 100%;
        text-indent: 5px;
        border-radius: 3px;
        border: solid 1px gray;
        font-size: 1.3em;
    }

    input#datepicker, select{
        font-size: 17px;
        color: #444;
    }

	ul.categoryList{        
        background: lightgray;
        padding: 1.4em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 3px;
        border:solid dimgray 1px;    
        margin: 0;

        li{
            list-style-type: none;
            padding-right: 51px;
        }
    }

    textarea#tinyMCE,
    .singleArticleBorder {
        min-height: 60vh;
    }  
}

.articleContainer{
	.singleArticleBorder{
		border: solid 1px;
		padding: 1em 2em;
		border-radius: 3px;
	}
}

.articleForm{
	select{
        transform: scale(1.2);
        transform-origin: top left;
        margin-bottom: 7px;
    }

    ul.formCheckbox{        
        li{
            label{
                display: flex;
                align-items: center;
                margin: .4em 0;
                font-size: 1.2em;

                input{
                    margin-left: auto;
                }
            }
        }
    }

    textarea#textOnlyContent{
        display: none;
    }

    input[type=submit],
    button[type=submit]{
        background-color: $blue;
        border: none !important;
        color: white !important;
        margin: 25px 0;
        float: right;
        transition: background-color 0.5s;
        box-sizing: content-box;
        border-radius: 0;
        font-size: 24px;
        padding: .5em 1.5em;

        &:hover{
            cursor:pointer;
            background-color:lighten($blue, 10%);
        }
    }

    .validationAlerts {
        background: lighten(orangered,5%);
        color: white;
        border-radius: 7px;
        padding: 1em;
        clear: both;
        margin-bottom: 20px;

        h3{
            margin: 0;
        }

        ul{
            padding: 0;
            margin: 10px 0 0;

            li{
                list-style-type: none;
                line-height: 2em;
            }
        }
    }
}