@import 'colors';

.smallForm{
    min-width: 450px;
    font-size: 1rem;
    max-width: 650px;
    margin: 0 auto;

    .validationSuccess,
    .validationError{
        font-size: 1.15rem;
        opacity: 0;
        transition: opacity .3s ease-in;
        margin: .4em 0;

        &.visible{
            opacity: 1;
        }
    }

     h2{
        margin-top: 0;
    }

    input:not([type=checkbox]){
        margin-top: 5px;
        min-height: 36px;
    }

    label{
        display: block;
        font-size: 1.1em;
        margin-bottom: 24px;

        select{
            transform: scale(1.5);
            transform-origin: center left;
            margin-left: 10px;
        }
    }

    .link{
        color: $orange;

        &:hover{
            text-decoration:none;
        }
    }
}

.smallForm,
.basicSearchForm{

    input:not([type=checkbox]){
        width: 100%;
        font-size: 1.2em;
        border: solid 1px $darkGray;
        padding-left: 4px;
        box-sizing: border-box;

        &:focus{
            outline: none;
        }
    }
}

form.basicSearchForm{
    display: flex;
    width: 50%;
    float: right;
    align-items: center;
    max-width: 480px;
    height: 45px;

    input[type=text]{
        padding-left: 9px;
        height: 100%;
    }

    button.button{
        height: 100%;
    }

    & ~ .advSearch{
        color:$orange;
        float: right;
        clear: right;
    }

    & ~ .clear{
        clear: both;
    }
}