@import 'colors.scss';


.articleGUI{
    .folderPath {
        background: lightgray;
        padding: 0.7em;
        display: flex;
        align-items: center;

        a:hover{
           text-decoration:none;
        }

        i{
            margin: 0 12px;
        }

        > *{
            color: $textGrayDark;
        }
    }
    
    ul{
        display: flex;
        align-items: center;
        padding: 0;
       
        li.fileOrFolder{
            list-style-type: none;
            display: flex;
            flex-flow: column;
            align-items: center;
            
            .fa-file, .fa-folder{
                width: 136px;
                height: 127px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover{
                    cursor:pointer;
                }
            }

            .itemTitle{
                padding: 5px 9px;
                border-radius: 5px;   
            }

            .fa-file{
                color: dimgray;
                font-size: 6em;

                & + .itemTitle{
                    margin-top:10px;
                }
            }


            .fa-folder{
                font-size: 6.5em;
            }

            &.selected{
                .fa-file, .fa-folder{
                    background: #EDEDED;
                }

                .itemTitle {
                    background: dodgerblue;
                    display: inline-block !important;
                    color: white;
                }
            }

            ul{
                display: none;
            }
        }                

    }
}

.articleTree{
    display: flex;

    .foldersWrapper{
        width: 30%;
        overflow-x: scroll;

        ul.noFolder{
            padding: 0;    
        }

        li.folderList{
            white-space: nowrap;

            a.collapseExpandAnchor{
                text-decoration: none;

                .fa-minus-square,
                .fa-plus-square {
                    color: dimgray;
                    transition: color .5s;
                    display: inline-block;

                    &:hover{
                        cursor:pointer;
                        color: black;
                    }

                    &.hide{
                        display: none;
                    }
                }
            }

            a.folder{
                padding: 2px 8px;
                text-decoration: none;
                display: inline-block;

                &.selected{
                    background: darkblue;
                    color: white;
                }
                .fa-folder {
                    font-size: 30px;
                }
            }
        }
    }
    .filesWrapper{
        width: 70%;

        li.fileList{
            display: none;

            a{
                text-decoration: none;
                display: flex;
                align-items: center;
                color: dimgray;
            }

            &.selected{
                display: list-item;
            }

            li{
                padding-bottom: 1em;

                .far.fa-file,
                .fas.fa-folder  {
                    font-size: 2em;
                    margin-right: 8px;
                }
            }
        }
    }

    .foldersWrapper, 
    .filesWrapper{
        border: solid 1px black;

        & > ul{
            padding-left: 10px;

            li{
                list-style-type: none;
            }
        }
    }
}

.articleGUI,
.articleTree{
    .fa-folder{
        color: dodgerblue;
    }
}

ul.fileManagerView{
    display: inline-flex;
    padding: 0;

    li{
        list-style-type: none;

        a{
            text-transform: uppercase;
            color: $turquoise;
            padding: 0 1em;
            border-left: solid 2px $lightGray;
            font-size: 18px;
            text-decoration: none;
            
            &.active{
                color: $orange;
            }
        }
        &:first-of-type a{
            padding-left:0;
            border-left: none;
        }
    }
}