$turquoise: #004A5D;
$orange: #F48120;

html,body{
    height:100%;
    margin:0;
}

body{
    display: flex;
    flex-flow: column;
    font-family: Cabin, sans-serif;
    overflow: auto;

    &.fancybox-active{
       height: 100%;
    }
}

header, main, footer{ 
  .container{
      max-width:1100px;
      width:80%;
      margin:0 auto;
    }
}


main{
    flex-grow: 1;
    
    textarea#tinyMCE {
        flex-grow: 1;
        min-height: 600px;
    }    
      
    .singleArticleBorder{
        border:solid dimgray 1px;
        padding: 2em;

        .title{
            margin-top: 0;
        }
    }

    .container{
        height: 100%;
        display: flex;
        flex-flow: column;
        margin: 40px auto 60px;

        .searchForm{
            flex-grow: 1;
            display: flex;
            align-items: center;
            margin-left: auto;
            flex-flow: row;

            input[type="text"] {
                height: 27px;
                width: 200px;
                margin: 0 0 0 10px;
            }

            input[type=submit]{
                padding: .5em .8em;
                margin: 0;
            }
        }

        .addArticle,
        .addCategory  {
            text-decoration: none;
            margin-bottom: 16px;
            color: dimgray;
            transition: color .5s;

            &:hover{
                color:black;
            }
        }

        form{
            flex-grow: 1;
            display: flex;
            flex-flow: column;

            input[type=submit]{
                background-color: $turquoise;
                border: none;
                background: $turquoise;
                border-radius: 0;
                padding: 1em 2em;
                font-size: 16px;
                color: white;
                margin-top: 25px;
                float: right;
                align-self: flex-end;

                &:hover{
                    cursor:pointer;
                    background-color:lighten($turquoise, 10%);
                }
            }

            textarea#textOnlyContent{
                display: none;
            }

            input#title, #mceu_16{
                margin: 10px 0 20px;

                &#title {
                    font-size: 22px;
                    width: 100%;
                }
            }
        }
    }

    

    section.form-group{
        margin-bottom: 20px;

        h3{
            font-size: 20px;
            margin-bottom: 0;
            color: dimgray;
        }
    }
        
    .categoryList{      
        ul{
            column-count:4;
            column-rule: solid dimgray 1px;
            background: lightgray;
            padding: 1.4em;

            li{
                list-style-type: none;
                padding-right: 51px;
            }

            label{
                display: inline-block;
                margin-bottom: 10px;
                display: flex;
                margin-bottom: 10px;
                width: 100%;

                input[type=checkbox]{
                    margin-left: auto;
                }
            }
        }
    }

    
    a{
      display: inline-block;

      &.seeMore{
        color:$orange;
        &:hover{
          text-decoration:underline;
        }
      }
    }

    .collatedGrid{
        & > div{
            padding: 1em;
        }
    }

    .collatedGridHeader, .collatedGrid{
        grid-template-columns: 1fr 1fr 1fr;

        &.loggedIn{
            grid-template-columns: 1fr 1fr 1fr 1fr;            
        }
    }

    .collatedGridHeader {
        display: grid;
        grid-template-rows: auto;
        height: 40px;
        color:white;

        &.categories{
            grid-template-columns: 1fr 1fr 1fr;
        }

        & > div{
            padding: 0;
            background-color: $turquoise;
            display: flex;
            align-items: center;
            padding:0 1em;

            .sortArrow{
                margin-left: auto;
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr;
                width: 20px;
                height: 40px;
                z-index: 2;

                &.down{
                    .upArrow{
                        border-bottom-color:lighten(black,50%);
                    }
                    .downArrow{
                        border-top-color:black;
                    }
                }

                &.up{
                    .upArrow{
                        border-bottom-color:black;
                    }
                    .downArrow{
                        border-top-color:lighten(black,50%);
                    }
                }

                .upArrow,.downArrow{
                    height: 0;
                    width: 0;
                    border-right-color: transparent;
                    border-left-color: transparent;
                    border-style: solid;
                    border-width: 9px;
                    width: 2px;
                }
                .upArrow{
                    border-top-color: transparent;
                    border-bottom-color: lighten(black,50%);
                    margin-bottom: 4px;
                }
                .downArrow{
                    border-bottom-color: transparent;
                    border-top-color: lighten(black,50%);
                }
                
            }
        }
    }

    .collatedGrid {
        display: grid;
        grid-template-rows: auto;

        &.categories{
            grid-template-columns: 1fr 1fr 1fr;
        }

        .actionItems{

            & > a{
                color: dimgray;
                text-decoration: none;
                transition: color .5s;
                margin-right: 16px;

                &:hover{
                    color:black;
                }
            }
      
        }

        > div{
            &.row{
                background: lightgray;
            }

            a#deleteArticle, a#editArticle {
                color: dimgray;
                text-decoration: none;
                transition: color .5s;

                &:hover{
                    color:black;
                }
            }
            a#editArticle{
                margin-left: 10px;
            }

            ul.categories{
                margin: 0;
                padding: 0;

                li{
                    background:transparent;
                    list-style-type: none;

                    &:nth-child(n+2){
                        display: none;
                    }

                    a.seeMore::after {
                        content: " See More";
                        color: $orange;
                        margin-left: 8px;
                        font-size: 13px;
                    }
                }

                &.showAll{
                    position: absolute;
                    background: white;
                    padding: 16px 10px !important;
                    box-shadow: 3px 3px 3px 0px dimgray;
                    margin: -16px 0 0 -10px;

                    li{
                        display: block;

                        a.seeMore::after{
                            content:"See Less";
                        }
                    }
                }

            }
        }
    }


    form.authForm {
        width: 400px;
        margin: 0 auto;
        display: block;

        label{
            display: block;
            color: dimgray;
        }

        input{
            height: 50px;
            font-size: 20px;
            border: solid 1px dimgray;
            border-radius: 5px;
            padding: 0 0 0 8px;
            width: 100%;
            margin: 2px 0 20px;

            &#password{
                margin: 0;
            }
        }

        .form-check{
            display: flex;
            align-items: center;

            input{
                width: auto;
                margin: 0 4px 0 0;
            }
        }

        button[type=submit] {
            background: $turquoise;
            border: none;
            font-size: 1.5em;
            color: white;
            padding: .5em 1.5em;

            &:hover{
                background:lighten($turquoise, 10%);
                cursor: pointer;
            }
        }

        a{
            text-decoration: none;
            color: $turquoise;
            margin-top: 30px;
            display: block;

            &:hover{
                text-decoration:underline;
            }
        }
    }

}

header{
    color: white;
    box-shadow: 5px 5px 5px #666;
    
    .flexContainer{
        display: flex;
        max-width: 1100px;
        margin: 0 auto;
        align-items: center;

        img.logo{
            max-width: 273px;
        }

        ul.nav{
            display: flex;
            margin:0; padding: 0;
            flex-grow: 1;

            li{
                list-style-type:none;
                flex-grow: 1;

                &:hover{
                  a{
                        border-bottom:solid 2px $orange;
                    }
                }

                a{
                  text-decoration: none;
                  color: $turquoise;
                    padding: 0.6em 0;
                    display: inline-block;
                }
                form{
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
            }
        }

        a#youtube-popup{
            display: flex;
           align-items: center;
           text-decoration: none;
           color: #999;
            text-transform: capitalize;
            font-weight: 500;
            margin-right: 20px;

            img{
                margin-right: 6px;
            }
        }

        i{
            background: $turquoise;
            border-radius: 50%;
            color: white;
            display: inline-flex;
            height: 30px;
            width: 30px;
            align-items: center;
            justify-content: center;
        }
    }
}

footer{
    color:white;
    background: $turquoise;
}

header, footer{
    text-transform: uppercase;
    font-weight: 700;
}
  


.fancybox-container {
    input[type=text]{
        width: 100%;
        font-size: 20px;
    }

    input[type=submit], button.cancelButton{
        color: white;
        border: none;
        font-size: 17px;
        float: right;
        margin-top: 20px;
        padding: .4em 1em;
      
        &:hover{
          cursor:pointer;
        }
    }
    input[type=submit]{
      background: $turquoise;
      &:hover{
          background-color:lighten($turquoise, 10%);
      }
    }
    button.cancelButton{
        background: $orange;
        margin-right:10px;
        &:hover{
            background-color:lighten($orange, 10%);
        }
    }

    h2 {
        margin-top: 0;
    }
}

