.authContainer {
  width: 50%;
  min-width: 400px;
  margin: 0 auto; }
  .authContainer label {
    display: inline; }
  .authContainer input[type=text], .authContainer input[type=email], .authContainer input[type=password] {
    margin: 0.3em 0 1em; }
  .authContainer button[type=submit] {
    font-size: 1em;
    padding: 0.2em 1em; }
  .authContainer .form-check {
    margin: 1em 0; }
  .authContainer .optionLinks a {
    display: block;
    line-height: 27px;
    color: #f48120; }

/* Sticky Footer */
html, body {
  height: 100% !important;
  margin: 0; }

body {
  display: flex;
  flex-flow: column;
  font-family: Cabin, sans-serif;
  overflow: auto; }

main {
  flex-grow: 1;
  margin-top: 60px; }

header .container, main .container, footer .container {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto; }

.actionItems {
  display: inline-block; }
  .actionItems a {
    text-decoration: none;
    margin-right: 9px;
    color: dimgray;
    transition: color 0.5s;
    display: inline-block; }
    .actionItems a:hover {
      color: black; }
  .actionItems.actionItemsHeader {
    margin-bottom: 30px; }
.featuredArticlesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  grid-template-rows: auto;
  background: lightgray;
  border-radius: 3px;
  border: solid 1px dimgray;
  margin-bottom: 4em; }
  .featuredArticlesGrid .featuredArticle {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1em; }
    .featuredArticlesGrid .featuredArticle h2 {
      text-decoration: none;
      text-align: center;
      margin: 5px 0 5px;
      color: dimgray;
      font-size: 16px; }
    .featuredArticlesGrid .featuredArticle iframe {
      width: 100%;
      min-height: 210px;
      background: white;
      border: solid 1px dimgray;
      border-radius: 4px; }
    .featuredArticlesGrid .featuredArticle a.clickableLink {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      transition: background 0.5s; }
      .featuredArticlesGrid .featuredArticle a.clickableLink:hover {
        background: rgba(12, 12, 12, .2); }
footer {
  color: white;
  background: #306a8d;
  padding: 3em 0;
  margin-top: 4em; }
  footer .footerContainer {
    display: flex;
    flex-flow: column;
    align-items: center; }
    footer .footerContainer h3 {
      margin: 0; }
    footer .footerContainer a {
      color: white;
      text-decoration: none; }
    footer .footerContainer .copyright {
      font-size: 14px;
      margin-top: 35px; }
header {
  color: white;
  box-shadow: 2px 6px 11px #aaa;
  padding: 1em 0; }
  header .headerContainer {
    display: flex;
    align-items: center; }
    header .headerContainer img.logo {
      max-width: 200px; }
    header .headerContainer ul.nav {
      display: flex;
      margin: 0;
      padding: 0 2em;
      flex-grow: 1;
      font-weight: 700; }
      header .headerContainer ul.nav li {
        list-style-type: none;
        font-size: 0.9em;
        margin-right: 30px; }
        header .headerContainer ul.nav li:last-child {
          margin-right: 0;
          margin-left: auto; }
        header .headerContainer ul.nav li a {
          text-decoration: none;
          border-bottom: solid 2px transparent;
          padding-bottom: 0.4em;
          text-transform: uppercase;
          color: #306a8d;
          position: relative;
          z-index: 2; }
        header .headerContainer ul.nav li ul {
          display: none; }
        header .headerContainer ul.nav li:hover a {
          border-bottom: solid 2px #f48120; }
          header .headerContainer ul.nav li:hover ul {
            display: block;
            position: absolute;
            padding: 1.5em 0;
            z-index: 3; }
            header .headerContainer ul.nav li:hover ul li {
              background: #d6f1fc;
              padding: 0;
              margin: 0; }
              header .headerContainer ul.nav li:hover ul li:hover {
                background: #1198cf; }
                header .headerContainer ul.nav li:hover ul li:hover a {
                  color: white; }
              header .headerContainer ul.nav li:hover ul li a {
                border: none;
                padding: 1em 2em;
                display: block; }
    header .headerContainer i {
      background: #306a8d;
      border-radius: 50%;
      color: white;
      display: inline-flex;
      height: 30px;
      width: 30px;
      align-items: center;
      justify-content: center;
      margin-right: 13px; }
      header .headerContainer i:hover {
        background: #3d87b3; }
.collatedGridHeader, .collatedGrid {
  display: grid;
  grid-template-columns: 1.45fr 0.9fr 0.8fr 1.3fr; }
  .collatedGridHeader.loggedIn, .collatedGrid.loggedIn {
    grid-template-columns: 1.45fr 0.9fr 0.8fr 1.3fr 0.6fr; }
  .collatedGridHeader.categories, .collatedGrid.categories, .collatedGridHeader.folders, .collatedGrid.folders {
    grid-template-columns: 2fr 1fr 0.6fr; }

.collatedGridHeader {
  color: white;
  background: #1198cf; }
  .collatedGridHeader > .row {
    display: flex;
    align-items: center;
    padding: 0 0.4em; }
    .collatedGridHeader > .row .sortArrow {
      margin-right: 0.6em;
      display: grid; }
      .collatedGridHeader > .row .sortArrow .ASC, .collatedGridHeader > .row .sortArrow .DESC {
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-top-color: #808080;
        border-style: solid;
        border-width: 9px;
        width: 2px; }
        .collatedGridHeader > .row .sortArrow .ASC.active, .collatedGridHeader > .row .sortArrow .DESC.active {
          border-top-color: lightgray; }
      .collatedGridHeader > .row .sortArrow .ASC {
        transform: rotate(180deg);
        margin-bottom: 4px; }
    .collatedGridHeader > .row.noSort {
      padding-left: 1.6em; }

.collatedGrid .row {
  padding: 1em 1em 1em 1.6em; }
  .collatedGrid .row.odd {
    background: lightgray; }
  .collatedGrid .row.titleRow a {
    color: #306a8d;
    font-size: 1.1em;
    text-decoration: none; }
    .collatedGrid .row.titleRow a:hover {
      text-decoration: underline; }
  .collatedGrid .row.cats {
    position: relative; }
    .collatedGrid .row.cats .categoryList {
      opacity: 0;
      position: absolute;
      background: white;
      border: 1px #306a8d solid;
      padding: 1em;
      z-index: -1;
      transition: opacity 0.1s ease-in, z-index 1s linear;
      left: 50%;
      transform: translateX(-50%);
      box-sizing: border-box; }
      .collatedGrid .row.cats .categoryList.show {
        opacity: 1;
        z-index: 2;
        transition: opacity 0.3s ease-in; }
      .collatedGrid .row.cats .categoryList ul {
        margin: 0 !important;
        padding: 0;
        list-style: none; }
        .collatedGrid .row.cats .categoryList ul li {
          margin-bottom: 0.8em;
          white-space: pre; }
          .collatedGrid .row.cats .categoryList ul li:last-child {
            margin-bottom: 0; }
      .collatedGrid .row.cats .categoryList .fas.fa-times-circle {
        float: right; }
        .collatedGrid .row.cats .categoryList .fas.fa-times-circle:hover {
          cursor: pointer; }
    .collatedGrid .row.cats .seeMore {
      text-decoration: none;
      color: #306a8d; }
.articleGUI .folderPath {
  background: lightgray;
  padding: 0.7em;
  display: flex;
  align-items: center; }
  .articleGUI .folderPath a:hover {
    text-decoration: none; }
  .articleGUI .folderPath i {
    margin: 0 12px; }
  .articleGUI .folderPath > * {
    color: #333; }
  .articleGUI ul {
    display: flex;
    align-items: center;
    padding: 0; }
  .articleGUI ul li.fileOrFolder {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    align-items: center; }
    .articleGUI ul li.fileOrFolder .fa-file, .articleGUI ul li.fileOrFolder .fa-folder {
      width: 136px;
      height: 127px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center; }
      .articleGUI ul li.fileOrFolder .fa-file:hover, .articleGUI ul li.fileOrFolder .fa-folder:hover {
        cursor: pointer; }
    .articleGUI ul li.fileOrFolder .itemTitle {
      padding: 5px 9px;
      border-radius: 5px; }
    .articleGUI ul li.fileOrFolder .fa-file {
      color: dimgray;
      font-size: 6em; }
      .articleGUI ul li.fileOrFolder .fa-file + .itemTitle {
        margin-top: 10px; }
    .articleGUI ul li.fileOrFolder .fa-folder {
      font-size: 6.5em; }
    .articleGUI ul li.fileOrFolder.selected .fa-file, .articleGUI ul li.fileOrFolder.selected .fa-folder {
      background: #ededed; }
      .articleGUI ul li.fileOrFolder.selected .itemTitle {
        background: dodgerblue;
        display: inline-block !important;
        color: white; }
    .articleGUI ul li.fileOrFolder ul {
      display: none; }

.articleTree {
  display: flex;
  min-height: 400px; }
  .articleTree .foldersWrapper {
    width: 30%;
    overflow-x: scroll; }
  .articleTree .foldersWrapper ul.noFolder {
    padding: 0; }
  .articleTree .foldersWrapper ul.hide {
    display: none; }
    .articleTree .foldersWrapper ul li.folderList {
      white-space: nowrap; }
      .articleTree .foldersWrapper ul li.folderList a.collapseExpandAnchor {
        text-decoration: none; }
        .articleTree .foldersWrapper ul li.folderList a.collapseExpandAnchor .fa-minus-square, .articleTree .foldersWrapper ul li.folderList a.collapseExpandAnchor .fa-plus-square {
          color: dimgray;
          transition: color 0.5s;
          display: inline-block; }
          .articleTree .foldersWrapper ul li.folderList a.collapseExpandAnchor .fa-minus-square:hover, .articleTree .foldersWrapper ul li.folderList a.collapseExpandAnchor .fa-plus-square:hover {
            cursor: pointer;
            color: black; }
          .articleTree .foldersWrapper ul li.folderList a.collapseExpandAnchor .fa-minus-square.hide, .articleTree .foldersWrapper ul li.folderList a.collapseExpandAnchor .fa-plus-square.hide {
            display: none; }
  .articleTree .filesWrapper {
    width: 70%; }
  .articleTree .filesWrapper li.contentsList {
    display: none; }
    .articleTree .filesWrapper li.contentsList.shown {
      display: list-item; }
    .articleTree .filesWrapper li.contentsList ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 0; }
      .articleTree .filesWrapper li.contentsList ul li .file, .articleTree .filesWrapper li.contentsList ul li .folder {
        font-size: 2em;
        margin-right: 8px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: dimgray; }
        .articleTree .filesWrapper li.contentsList ul li .file.active, .articleTree .filesWrapper li.contentsList ul li .folder.active {
          background: red; }
        .articleTree .filesWrapper li.contentsList ul li .file .itemTitle, .articleTree .filesWrapper li.contentsList ul li .folder .itemTitle {
          font-size: 0.5em;
          margin-left: 0.5em; }
  .articleTree .foldersWrapper, .articleTree .filesWrapper {
    border: solid 1px black; }
  .articleTree .foldersWrapper > ul, .articleTree .filesWrapper > ul {
    padding-left: 10px; }
    .articleTree .foldersWrapper > ul li, .articleTree .filesWrapper > ul li {
      list-style-type: none; }
  .articleTree .foldersWrapper li.folderList .file, .articleTree .filesWrapper li.folderList .file, .articleTree .foldersWrapper li.contentsList .file, .articleTree .filesWrapper li.contentsList .file, .articleTree .foldersWrapper li.folderList .folder, .articleTree .filesWrapper li.folderList .folder, .articleTree .foldersWrapper li.contentsList .folder, .articleTree .filesWrapper li.contentsList .folder {
    padding: 2px 8px;
    text-decoration: none;
    display: inline-block; }
    .articleTree .foldersWrapper li.folderList .file.selected, .articleTree .filesWrapper li.folderList .file.selected, .articleTree .foldersWrapper li.contentsList .file.selected, .articleTree .filesWrapper li.contentsList .file.selected, .articleTree .foldersWrapper li.folderList .folder.selected, .articleTree .filesWrapper li.folderList .folder.selected, .articleTree .foldersWrapper li.contentsList .folder.selected, .articleTree .filesWrapper li.contentsList .folder.selected {
      background: darkblue;
      color: white; }
    .articleTree .foldersWrapper li.folderList .file .fa-folder, .articleTree .filesWrapper li.folderList .file .fa-folder, .articleTree .foldersWrapper li.contentsList .file .fa-folder, .articleTree .filesWrapper li.contentsList .file .fa-folder, .articleTree .foldersWrapper li.folderList .folder .fa-folder, .articleTree .filesWrapper li.folderList .folder .fa-folder, .articleTree .foldersWrapper li.contentsList .folder .fa-folder, .articleTree .filesWrapper li.contentsList .folder .fa-folder {
      font-size: 30px; }

.articleGUI .fa-folder, .articleTree .fa-folder {
  color: dodgerblue; }

ul.fileManagerView {
  display: inline-flex;
  padding: 0; }
  ul.fileManagerView li {
    list-style-type: none; }
  ul.fileManagerView li a {
    text-transform: uppercase;
    color: #306a8d;
    padding: 0 1em;
    border-left: solid 2px #dadfe3;
    font-size: 18px;
    text-decoration: none; }
    ul.fileManagerView li a.active {
      color: #f48120; }
  ul.fileManagerView li:first-of-type a {
    padding-left: 0;
    border-left: none; }
.articleContainer label, .articleForm label {
  display: flex;
  align-items: center;
  margin: 1.5em 0;
  font-size: 1.4em; }
  .articleContainer label.detached, .articleForm label.detached {
    margin-bottom: 0.5em; }
  .articleContainer label .value, .articleForm label .value {
    font-size: 0.85em;
    margin-left: 1em; }
  .articleContainer input[type], .articleForm input[type] {
    margin-left: 2rem; }
  .articleContainer input[type=checkbox], .articleForm input[type=checkbox], .articleContainer input[type=radio], .articleForm input[type=radio] {
    transform: scale(1.4); }
  .articleContainer input[type=text], .articleForm input[type=text] {
    width: 100%;
    text-indent: 5px;
    border-radius: 3px;
    border: solid 1px gray;
    font-size: 1.3em; }
  .articleContainer input#datepicker, .articleForm input#datepicker, .articleContainer select, .articleForm select {
    font-size: 17px;
    color: #444; }
  .articleContainer ul.categoryList, .articleForm ul.categoryList {
    background: lightgray;
    padding: 1.4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 3px;
    border: solid dimgray 1px;
    margin: 0; }
  .articleContainer ul.categoryList li, .articleForm ul.categoryList li {
    list-style-type: none;
    padding-right: 51px; }
  .articleContainer textarea#tinyMCE, .articleForm textarea#tinyMCE, .articleContainer .singleArticleBorder, .articleForm .singleArticleBorder {
    min-height: 60vh; }

.articleContainer .singleArticleBorder {
  border: solid 1px;
  padding: 1em 2em;
  border-radius: 3px; }

.articleForm select {
  transform: scale(1.2);
  transform-origin: top left;
  margin-bottom: 7px; }
  .articleForm ul.formCheckbox li label {
    display: flex;
    align-items: center;
    margin: 0.4em 0;
    font-size: 1.2em; }
    .articleForm ul.formCheckbox li label input {
      margin-left: auto; }
  .articleForm textarea#textOnlyContent {
    display: none; }
  .articleForm input[type=submit], .articleForm button[type=submit] {
    background-color: #1198cf;
    border: none !important;
    color: white !important;
    margin: 25px 0;
    float: right;
    transition: background-color 0.5s;
    box-sizing: content-box;
    border-radius: 0;
    font-size: 24px;
    padding: 0.5em 1.5em; }
  .articleForm input[type=submit]:hover, .articleForm button[type=submit]:hover {
    cursor: pointer;
    background-color: #26b3ed; }
  .articleForm .validationAlerts {
    background: #ff581a;
    color: white;
    border-radius: 7px;
    padding: 1em;
    clear: both;
    margin-bottom: 20px; }
  .articleForm .validationAlerts h3 {
    margin: 0; }
  .articleForm .validationAlerts ul {
    padding: 0;
    margin: 10px 0 0; }
    .articleForm .validationAlerts ul li {
      list-style-type: none;
      line-height: 2em; }
form.smallForm {
  min-width: 450px;
  font-size: 1rem; }
  form.smallForm .validationError {
    color: orangered;
    font-size: 1em;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    margin: 0.4em 0; }
    form.smallForm .validationError.visible {
      opacity: 1; }
  form.smallForm h2 {
    margin-top: 0; }
  form.smallForm input[type=text] {
    margin-top: 5px;
    min-height: 36px; }
  form.smallForm label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 24px; }
    form.smallForm label select {
      transform: scale(1.5);
      transform-origin: center left;
      margin-left: 10px; }
  form.smallForm button.button {
    float: right; }

form.smallForm input[type=text], form.smallSearchForm input[type=text] {
  width: 100%;
  font-size: 1.2em;
  border: solid 1px gray;
  padding-left: 4px;
  box-sizing: border-box; }
  form.smallForm input[type=text]:focus, form.smallSearchForm input[type=text]:focus {
    outline: none; }
  form.smallForm button.button, form.smallSearchForm button.button {
    color: white;
    border: none;
    font-size: 17px;
    padding: 0.5em 2em; }
  form.smallForm button.button:focus, form.smallSearchForm button.button:focus {
    outline: 0; }
  form.smallForm button.button.updateBtn, form.smallSearchForm button.button.updateBtn {
    background-color: #1198cf; }
    form.smallForm button.button.updateBtn:hover, form.smallSearchForm button.button.updateBtn:hover {
      background-color: #26b3ed;
      cursor: pointer; }
  form.smallForm button.button.cancelBtn, form.smallSearchForm button.button.cancelBtn {
    background-color: #f48120;
    margin-right: 10px; }
    form.smallForm button.button.cancelBtn:hover, form.smallSearchForm button.button.cancelBtn:hover {
      background-color: #f69c51;
      cursor: pointer; }
  form.smallForm button.button.deleteBtn, form.smallSearchForm button.button.deleteBtn {
    background-color: red;
    margin-right: 10px; }
    form.smallForm button.button.deleteBtn:hover, form.smallSearchForm button.button.deleteBtn:hover {
      background-color: #f33;
      cursor: pointer; }

form.smallSearchForm {
  display: flex;
  width: 50%;
  float: right;
  align-items: center;
  max-width: 480px;
  height: 45px; }
  form.smallSearchForm input[type=text] {
    padding-left: 9px;
    height: 100%; }
  form.smallSearchForm button.button {
    height: 100%; }
  form.smallSearchForm ~ .advSearch {
    color: #f48120;
    float: right;
    clear: right; }
  form.smallSearchForm ~ .clear {
    clear: both; }
