.articleGUI .folderPath {
  background: #dedede;
  padding: 0.7em;
  display: flex;
  align-items: center;
  color: #6a6a6a; }
  .articleGUI .folderPath a {
    color: #6a6a6a; }
    .articleGUI .folderPath a:hover {
      text-decoration: none; }
  .articleGUI .folderPath i {
    margin: 0 12px; }
  .articleGUI ul {
    display: flex;
    align-items: center;
    padding-left: 1em; }
  .articleGUI ul li.objectListItem {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-right: 3em; }
    .articleGUI ul li.objectListItem:last-of-type {
      margin-right: 0; }
    .articleGUI ul li.objectListItem .objectAnchor {
      text-align: center;
      padding: 1rem; }
      .articleGUI ul li.objectListItem .objectAnchor .fileIcon, .articleGUI ul li.objectListItem .objectAnchor .folderIcon {
        display: flex;
        align-items: center;
        height: 83px;
        padding-bottom: 0.4rem; }
      .articleGUI ul li.objectListItem .objectAnchor .folderIcon {
        font-size: 6em; }
      .articleGUI ul li.objectListItem .objectAnchor .fileIcon {
        font-size: 5em;
        color: #6a6a6a; }
.articleTree {
  display: flex;
  min-height: 400px; }
  .articleTree .foldersWrapper {
    width: 30%;
    overflow-x: scroll; }
    .articleTree .foldersWrapper .objectListItem {
      white-space: nowrap; }
      .articleTree .foldersWrapper .objectListItem .folderList.hide {
        display: none; }
      .articleTree .foldersWrapper .objectListItem .nodeContainer {
        display: flex;
        align-items: center; }
        .articleTree .foldersWrapper .objectListItem .nodeContainer a.collapseExpandAnchor {
          text-decoration: none; }
          .articleTree .foldersWrapper .objectListItem .nodeContainer a.collapseExpandAnchor .fa-minus-square, .articleTree .foldersWrapper .objectListItem .nodeContainer a.collapseExpandAnchor .fa-plus-square {
            color: #6a6a6a;
            transition: color 0.5s;
            display: inline-block; }
            .articleTree .foldersWrapper .objectListItem .nodeContainer a.collapseExpandAnchor .fa-minus-square:hover, .articleTree .foldersWrapper .objectListItem .nodeContainer a.collapseExpandAnchor .fa-plus-square:hover {
              color: #222; }
            .articleTree .foldersWrapper .objectListItem .nodeContainer a.collapseExpandAnchor .fa-minus-square.hide, .articleTree .foldersWrapper .objectListItem .nodeContainer a.collapseExpandAnchor .fa-plus-square.hide {
              display: none; }
  .articleTree .filesWrapper {
    width: 70%; }
    .articleTree .filesWrapper li.contentsList {
      display: none; }
      .articleTree .filesWrapper li.contentsList .objectListItem a.fileAnchor.selected .fa-file {
        color: #fff; }
        .articleTree .filesWrapper li.contentsList .objectListItem a.fileAnchor:active {
          color: #6a6a6a; }
      .articleTree .filesWrapper li.contentsList.shown {
        display: list-item; }
      .articleTree .filesWrapper li.contentsList ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0; }
  .articleTree .foldersWrapper, .articleTree .filesWrapper {
    border: solid 1px #222; }
    .articleTree .foldersWrapper > ul, .articleTree .filesWrapper > ul {
      padding-left: 10px; }
      .articleTree .foldersWrapper > ul li, .articleTree .filesWrapper > ul li {
        list-style-type: none; }
      .articleTree .foldersWrapper > ul .objectListItem a.objectAnchor, .articleTree .filesWrapper > ul .objectListItem a.objectAnchor {
        padding: 2px 9px 2px 9px;
        display: inline-flex;
        align-items: center;
        margin-left: 2px; }
        .articleTree .foldersWrapper > ul .objectListItem a.objectAnchor .fileIcon, .articleTree .filesWrapper > ul .objectListItem a.objectAnchor .fileIcon, .articleTree .foldersWrapper > ul .objectListItem a.objectAnchor .folderIcon, .articleTree .filesWrapper > ul .objectListItem a.objectAnchor .folderIcon {
          align-items: center;
          justify-content: center;
          font-size: 30px;
          height: 30px;
          margin-right: 7px; }
        .articleTree .foldersWrapper > ul .objectListItem a.objectAnchor .folderIcon, .articleTree .filesWrapper > ul .objectListItem a.objectAnchor .folderIcon {
          width: 28px; }

html, body {
  height: 100% !important;
  margin: 0; }

body {
  display: flex;
  flex-flow: column;
  font-family: Cabin, sans-serif;
  overflow: auto;
  background: #fff; }

main {
  flex-grow: 1;
  margin-top: 60px; }

.container {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto; }

.actionItems {
  display: inline-block; }
  .actionItems a {
    text-decoration: none;
    margin-right: 9px;
    color: #6a6a6a;
    transition: color 0.5s;
    display: inline-block; }
    .actionItems a:hover {
      color: #222; }
  .actionItems.actionItemsHeader {
    margin-bottom: 30px; }

.fileManagerView {
  display: inline-flex;
  padding: 0; }
  .fileManagerView li {
    list-style-type: none; }
    .fileManagerView li a {
      text-transform: uppercase;
      color: #306a8d;
      padding: 0 1em;
      border-left: solid 2px #222;
      font-size: 18px;
      text-decoration: none; }
      .fileManagerView li a.active {
        color: #f48120; }
    .fileManagerView li:first-of-type a {
      padding-left: 0;
      border-left: none; }

.articleTree a.objectAnchor, .articleGUI a.objectAnchor {
  text-decoration: none;
  color: #6a6a6a; }
  .articleTree a.objectAnchor.selected, .articleGUI a.objectAnchor.selected {
    background: #dedede; }
  .articleTree a.objectAnchor .fa-folder, .articleGUI a.objectAnchor .fa-folder {
    color: #1198cf; }

input:not([type='checkbox']):not([type='hidden']) {
  border: solid 1px #222;
  padding-left: 9px;
  width: 100%;
  font-size: 1.2em;
  padding-left: 4px;
  box-sizing: border-box; }
  input:not([type='checkbox']):not([type='hidden']):focus {
    outline: none; }

button.button {
  color: #fff;
  border: none;
  font-size: 17px;
  padding: 0.5em 2em;
  float: right; }
  button.button:focus {
    outline: 0; }
  button.button.updateBtn {
    background-color: #1198cf;
    /* Sticky Footer */ }
  button.button.updateBtn:hover {
    background-color: #26b3ed;
    cursor: pointer; }
  button.button.cancelBtn {
    background-color: #f48120;
    /* Sticky Footer */
    margin-right: 10px; }
  button.button.cancelBtn:hover {
    background-color: #f69c51;
    cursor: pointer; }
  button.button.deleteBtn {
    background-color: #e33;
    /* Sticky Footer */
    margin-right: 10px; }
  button.button.deleteBtn:hover {
    background-color: #f26262;
    cursor: pointer; }

.validationError {
  color: #e33; }
  .validationError h3 {
    margin: 0 0 10px; }
  .validationError p {
    margin: 0 0 5px; }

.validationSuccess {
  color: #5a5; }
.featuredArticlesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  grid-template-rows: auto;
  background: #dedede;
  border-radius: 3px;
  border: solid 1px #6a6a6a;
  margin-bottom: 4em; }
  .featuredArticlesGrid .featuredArticle {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1em; }
    .featuredArticlesGrid .featuredArticle h2 {
      text-decoration: none;
      text-align: center;
      margin: 5px 0 5px;
      color: #6a6a6a;
      font-size: 16px; }
    .featuredArticlesGrid .featuredArticle iframe {
      width: 100%;
      min-height: 210px;
      background: white;
      border: solid 1px #6a6a6a;
      border-radius: 4px; }
    .featuredArticlesGrid .featuredArticle a.clickableLink {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      transition: background 0.5s; }
      .featuredArticlesGrid .featuredArticle a.clickableLink:hover {
        background: #222;
        opacity: 0.2; }
footer {
  color: #fff;
  background: #306a8d;
  padding: 3em 0;
  margin-top: 4em; }
  footer .footerContainer {
    display: flex;
    flex-flow: column;
    align-items: center; }
    footer .footerContainer h3 {
      margin: 0; }
    footer .footerContainer a {
      color: #fff;
      text-decoration: none; }
    footer .footerContainer .copyright {
      font-size: 14px;
      margin-top: 35px; }
header {
  color: #fff;
  box-shadow: 2px 6px 11px #aaa;
  padding: 1em 0; }
  header a {
    text-decoration: none; }
  header .headerContainer {
    display: flex;
    align-items: center; }
    header .headerContainer img.logo {
      max-width: 200px; }
    header .headerContainer ul.nav {
      display: flex;
      margin: 0;
      padding: 0 2em;
      flex-grow: 1;
      font-weight: 700;
      list-style: none; }
      header .headerContainer ul.nav li {
        font-size: 0.9em;
        margin-right: 30px; }
        header .headerContainer ul.nav li:last-child {
          margin-right: 0;
          margin-left: auto; }
        header .headerContainer ul.nav li a {
          text-decoration: none;
          border-bottom: solid 2px transparent;
          padding-bottom: 0.4em;
          text-transform: uppercase;
          color: #306a8d;
          position: relative;
          z-index: 2; }
        header .headerContainer ul.nav li ul {
          display: none; }
        header .headerContainer ul.nav li:hover a {
          border-bottom: solid 2px #f48120; }
          header .headerContainer ul.nav li:hover ul {
            display: block;
            position: absolute;
            padding: 1.5em 0;
            z-index: 3; }
            header .headerContainer ul.nav li:hover ul li {
              background: #d6f1fc;
              padding: 0;
              margin: 0; }
              header .headerContainer ul.nav li:hover ul li:hover {
                background: #1198cf; }
                header .headerContainer ul.nav li:hover ul li:hover a {
                  color: #fff; }
              header .headerContainer ul.nav li:hover ul li a {
                border: none;
                padding: 1em 2em;
                display: block; }
    header .headerContainer i {
      background: #306a8d;
      border-radius: 50%;
      color: #fff;
      display: inline-flex;
      height: 30px;
      width: 30px;
      align-items: center;
      justify-content: center;
      margin-right: 13px; }
      header .headerContainer i:hover {
        background: #3d87b3; }
.collatedGridHeader, .collatedGrid {
  display: grid;
  grid-template-columns: 1.45fr 0.9fr 0.8fr 1.3fr; }
  .collatedGridHeader.loggedIn, .collatedGrid.loggedIn {
    grid-template-columns: 1.45fr 0.9fr 0.8fr 1.3fr 0.6fr; }
  .collatedGridHeader.categories, .collatedGrid.categories, .collatedGridHeader.folders, .collatedGrid.folders {
    grid-template-columns: 2fr 1fr 0.6fr; }

.collatedGridHeader {
  color: #fff;
  background: #1198cf; }
  .collatedGridHeader > .row {
    display: flex;
    align-items: center;
    padding: 0 0.4em; }
    .collatedGridHeader > .row .sortArrow {
      margin-right: 0.6em;
      display: grid; }
      .collatedGridHeader > .row .sortArrow .ASC, .collatedGridHeader > .row .sortArrow .DESC {
        border-color: transparent;
        border-top-color: #6a6a6a;
        border-style: solid;
        border-width: 9px;
        width: 2px; }
        .collatedGridHeader > .row .sortArrow .ASC.active, .collatedGridHeader > .row .sortArrow .DESC.active {
          border-top-color: #dedede; }
      .collatedGridHeader > .row .sortArrow .ASC {
        transform: rotate(180deg);
        margin-bottom: 4px; }
    .collatedGridHeader > .row.noSort {
      padding-left: 1.6em; }

.collatedGrid {
  color: #6a6a6a; }
  .collatedGrid .row {
    padding: 1em 1em 1em 1.6em; }
    .collatedGrid .row.odd {
      background: #dedede; }
    .collatedGrid .row.titleRow a {
      color: #6a6a6a;
      font-size: 1.1em;
      text-decoration: none; }
      .collatedGrid .row.titleRow a:hover {
        text-decoration: underline; }
    .collatedGrid .row.cats {
      position: relative; }
      .collatedGrid .row.cats .categoryList {
        opacity: 0;
        position: absolute;
        background: #fff;
        border: 1px #306a8d solid;
        padding: 1em;
        z-index: -1;
        transition: opacity 0.1s ease-in, z-index 1s linear;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box; }
        .collatedGrid .row.cats .categoryList.show {
          opacity: 1;
          z-index: 2;
          transition: opacity 0.3s ease-in; }
        .collatedGrid .row.cats .categoryList ul {
          margin: 0 !important;
          padding: 0;
          list-style: none; }
          .collatedGrid .row.cats .categoryList ul li {
            margin-bottom: 0.8em;
            white-space: pre; }
            .collatedGrid .row.cats .categoryList ul li:last-child {
              margin-bottom: 0; }
        .collatedGrid .row.cats .categoryList .fas.fa-times-circle {
          float: right; }
          .collatedGrid .row.cats .categoryList .fas.fa-times-circle:hover {
            cursor: pointer; }
      .collatedGrid .row.cats .seeMore {
        text-decoration: none;
        color: #6a6a6a; }
.articleContainer label, .articleForm label {
  display: flex;
  align-items: center;
  margin: 1.5em 0;
  font-size: 1.4em; }
  .articleContainer label.detached, .articleForm label.detached {
    margin-bottom: 0.5em; }
  .articleContainer label .value, .articleForm label .value {
    font-size: 0.85em;
    margin-left: 1em; }
  .articleContainer input[type], .articleForm input[type] {
    margin-left: 2rem; }
  .articleContainer input[type=checkbox], .articleForm input[type=checkbox], .articleContainer input[type=radio], .articleForm input[type=radio] {
    transform: scale(1.4); }
  .articleContainer input[type=text], .articleForm input[type=text] {
    width: 100%;
    text-indent: 5px;
    border-radius: 3px;
    border: solid 1px gray;
    font-size: 1.3em; }
  .articleContainer select, .articleForm select {
    font-size: 17px;
    color: #6a6a6a; }
  .articleContainer ul.categoryList, .articleForm ul.categoryList {
    background: #dedede;
    padding: 1.4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 3px;
    border: solid #6a6a6a 1px;
    margin: 0; }
  .articleContainer ul.categoryList li, .articleForm ul.categoryList li {
    list-style-type: none;
    padding-right: 51px; }
  .articleContainer textarea#tinyMCE, .articleForm textarea#tinyMCE, .articleContainer .singleArticleBorder, .articleForm .singleArticleBorder {
    min-height: 60vh; }

.articleContainer .singleArticleBorder {
  border: solid #222 1px;
  padding: 1em 2em;
  border-radius: 3px; }

.articleForm select {
  transform: scale(1.2);
  transform-origin: top left;
  margin-bottom: 7px; }
  .articleForm ul.formCheckbox li label {
    display: flex;
    align-items: center;
    margin: 0.4em 0;
    font-size: 1.2em; }
    .articleForm ul.formCheckbox li label input {
      margin-left: auto; }
  .articleForm textarea#textOnlyContent {
    display: none; }
.smallForm {
  min-width: 450px;
  font-size: 1rem;
  max-width: 650px;
  margin: 0 auto; }
  .smallForm .validationSuccess, .smallForm .validationError {
    font-size: 1.15rem;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    margin: 0.4em 0; }
    .smallForm .validationSuccess.visible, .smallForm .validationError.visible {
      opacity: 1; }
  .smallForm h2 {
    margin-top: 0; }
  .smallForm input:not([type=checkbox]) {
    margin-top: 5px;
    min-height: 36px; }
  .smallForm label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 24px; }
    .smallForm label select {
      transform: scale(1.5);
      transform-origin: center left;
      margin-left: 10px; }
  .smallForm .link {
    color: #f48120; }
    .smallForm .link:hover {
      text-decoration: none; }

form.basicSearchForm {
  float: right;
  height: 45px;
  display: flex;
  width: 50%;
  min-width: 480px;
  max-width: 550px; }
  form.basicSearchForm input[type=text] {
    height: 100%;
    padding-left: 9px; }
  form.basicSearchForm button.button {
    height: 100%; }
  form.basicSearchForm ~ .advSearch {
    color: #f48120;
    float: right;
    clear: right; }
  form.basicSearchForm ~ .clear {
    clear: both; }
