html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column;
  font-family: Cabin, sans-serif;
  overflow: auto;
}
body.fancybox-active {
  height: 100%;
}

header .container, main .container, footer .container {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
}

header {
  color: white;
  box-shadow: 2px 6px 11px #AAA;
}
header .flexContainer {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
}
header .flexContainer img.logo {
  max-width: 200px;
}
header .flexContainer ul.nav {
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  font-weight: 700;
}
header .flexContainer ul.nav li {
  list-style-type: none;
  font-size: 0.9em;
  padding: 2em 2em 2em 2em;
}
header .flexContainer ul.nav li .welcomeMsg {
  position: absolute;
}
header .flexContainer ul.nav li:last-of-type {
  margin-left: auto;
}
header .flexContainer ul.nav li a {
  text-decoration: none;
  border-bottom: solid 2px transparent;
  padding-bottom: 0.4em;
  text-transform: uppercase;
  color: #004A5D;
}
header .flexContainer ul.nav li form {
  height: 100%;
  display: flex;
  align-items: center;
}
header .flexContainer ul.nav li ul {
  display: none;
}
header .flexContainer ul.nav li:hover a {
  border-bottom: solid 2px #F48120;
}
header .flexContainer ul.nav li:hover ul {
  display: block;
  position: absolute;
  padding: 0;
  margin-top: 1.5em;
}
header .flexContainer ul.nav li:hover ul li {
  background: #D6F1FC;
  padding: 0;
}
header .flexContainer ul.nav li:hover ul li:hover {
  background: #31B8EF;
}
header .flexContainer ul.nav li:hover ul li:hover a {
  color: white;
}
header .flexContainer ul.nav li:hover ul li a {
  border: none;
  padding: 1em 2em;
  display: block;
}
header .flexContainer a#youtube-popup {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #999;
  text-transform: capitalize;
  font-weight: 500;
  margin-right: 20px;
}
header .flexContainer a#youtube-popup img {
  margin-right: 6px;
}
header .flexContainer i {
  background: #004A5D;
  border-radius: 50%;
  color: white;
  display: inline-flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}
header .flexContainer i:hover {
  background: #007390;
}

main {
  flex-grow: 1;
}
main textarea#tinyMCE {
  flex-grow: 1;
  min-height: 600px;
}
main .singleArticleBorder {
  border: solid dimgray 1px;
  padding: 2em;
}
main .singleArticleBorder .title {
  margin-top: 0;
}
main .container {
  height: 100%;
  margin: 80px auto 60px;
}
main .container .validationAlerts {
  width: 40%;
  background: #ff581a;
  color: white;
  border-radius: 7px;
  padding: 1em;
  margin-top: 20px;
}
main .container .validationAlerts h3 {
  margin: 0;
}
main .container .validationAlerts ul {
  padding: 0;
  margin: 10px 0 0;
}
main .container .validationAlerts ul li {
  list-style-type: none;
  line-height: 2em;
}
main .container .searchForm {
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  float: right;
  flex-flow: row;
  margin-bottom: 1.5em;
}
main .container .searchForm input[type=text] {
  height: 27px;
  width: 200px;
  margin: 0 0 0 10px;
}
main .container .searchForm input[type=submit] {
  padding: 0.5em 0.8em;
  margin: 0;
}
main .container .actionItems {
  display: inline-block;
}
main .container .actionItems a {
  text-decoration: none;
  margin-right: 15px;
  color: dimgray;
  transition: color 0.5s;
  display: inline-block;
}
main .container .actionItems a:hover {
  color: black;
}
main .container form {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}
main .container form input[type=submit] {
  background-color: #004A5D;
  border: none;
  background: #004A5D;
  border-radius: 0;
  padding: 0.5em 1.8em;
  font-size: 16px;
  color: white;
  margin-top: 25px;
  float: right;
  align-self: flex-end;
}
main .container form input[type=submit]:hover {
  cursor: pointer;
  background-color: #007390;
}
main .container form textarea#textOnlyContent {
  display: none;
}
main .container form input#title, main .container form #mceu_16 {
  margin: 10px 0 20px;
}
main .container form input#title#title, main .container form #mceu_16#title {
  font-size: 22px;
  width: 100%;
  padding: 6px 0 6px 8px;
  border-radius: 4px;
  border: solid 1px gray;
}
main section.form-group {
  margin-bottom: 20px;
}
main section.form-group h3 {
  font-size: 20px;
  margin-bottom: 0;
  color: dimgray;
}
main ul.categoryList {
  background: lightgray;
  padding: 1.4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 3px;
}
main ul.categoryList li {
  list-style-type: none;
  padding-right: 51px;
}
main ul.categoryList label {
  display: inline-block;
  margin-bottom: 10px;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}
main ul.categoryList label input[type=checkbox] {
  margin-left: auto;
  transform: scale(1.4);
}
main a {
  display: inline-block;
}
main a.seeMore {
  color: #F48120;
}
main a.seeMore:hover {
  text-decoration: underline;
}
main .collatedGrid > div {
  padding: 1em;
}
main .collatedGridHeader, main .collatedGrid {
  grid-template-columns: 1fr 1fr 1fr;
}
main .collatedGridHeader.loggedIn, main .collatedGrid.loggedIn {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
main .collatedGridHeader {
  display: grid;
  grid-template-rows: auto;
  height: 40px;
  color: white;
  clear: both;
}
main .collatedGridHeader.categories {
  grid-template-columns: 1fr 1fr 1fr;
}
main .collatedGridHeader > div {
  padding: 0;
  background-color: #004A5D;
  display: flex;
  align-items: center;
  padding: 0 1em;
}
main .collatedGridHeader > div .sortArrow {
  margin-left: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  width: 20px;
  height: 40px;
  z-index: 2;
}
main .collatedGridHeader > div .sortArrow.down .upArrow {
  border-bottom-color: gray;
}
main .collatedGridHeader > div .sortArrow.down .downArrow {
  border-top-color: #F48120;
}
main .collatedGridHeader > div .sortArrow.up .upArrow {
  border-bottom-color: #F48120;
}
main .collatedGridHeader > div .sortArrow.up .downArrow {
  border-top-color: gray;
}
main .collatedGridHeader > div .sortArrow .upArrow, main .collatedGridHeader > div .sortArrow .downArrow {
  height: 0;
  width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
  border-style: solid;
  border-width: 9px;
  width: 2px;
}
main .collatedGridHeader > div .sortArrow .upArrow {
  border-top-color: transparent;
  border-bottom-color: gray;
  margin-bottom: 4px;
}
main .collatedGridHeader > div .sortArrow .downArrow {
  border-bottom-color: transparent;
  border-top-color: gray;
}
main .collatedGrid {
  display: grid;
  grid-template-rows: auto;
}
main .collatedGrid.categories {
  grid-template-columns: 1fr 1fr 1fr;
}
main .collatedGrid .oddRow {
  background: lightgray;
}
main .collatedGrid .titleRow a {
  color: #F48120;
}
main .collatedGrid a#deleteArticle, main .collatedGrid a#editArticle {
  color: dimgray;
  text-decoration: none;
  transition: color 0.5s;
}
main .collatedGrid a#deleteArticle:hover, main .collatedGrid a#editArticle:hover {
  color: black;
}
main .collatedGrid a#editArticle {
  margin-left: 10px;
}
main .collatedGrid ul.categories {
  margin: 0;
  padding: 0;
}
main .collatedGrid ul.categories li {
  background: transparent;
  list-style-type: none;
}
main .collatedGrid ul.categories li:nth-child(n+2) {
  display: none;
}
main .collatedGrid ul.categories li a.seeMore::after {
  content: " See More";
  color: #F48120;
  margin-left: 8px;
  font-size: 13px;
}
main .collatedGrid ul.categories.showAll {
  position: absolute;
  background: white;
  padding: 16px 10px !important;
  box-shadow: 3px 3px 3px 0px dimgray;
  margin: -16px 0 0 -10px;
}
main .collatedGrid ul.categories.showAll li {
  display: block;
  margin-bottom: 10px;
}
main .collatedGrid ul.categories.showAll li:last-of-type {
  margin-bottom: 0;
}
main .collatedGrid ul.categories.showAll li a.seeMore::after {
  content: "See Less";
}
main .authContainer {
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}
main .authContainer h2 {
  color: #444;
}
main .authContainer form.authForm {
  display: block;
}
main .authContainer form.authForm * {
  box-sizing: border-box;
}
main .authContainer form.authForm label {
  display: block;
  color: dimgray;
}
main .authContainer form.authForm input {
  font-size: 16px;
  border: solid 1px dimgray;
  border-radius: 5px;
  padding: 7px 0 7px 9px;
  width: 100%;
  margin: 4px 0 20px;
}
main .authContainer form.authForm .form-check {
  display: flex;
  align-items: center;
}
main .authContainer form.authForm .form-check input {
  width: auto;
  margin: 0 4px 0 0;
}
main .authContainer form.authForm button[type=submit] {
  background: #004A5D;
  border: none;
  font-size: 1.1em;
  color: white;
  padding: 0.5em 1.5em;
  margin: 0.5em 0;
}
main .authContainer form.authForm button[type=submit]:hover {
  background: #007390;
  cursor: pointer;
}
main .authContainer form.authForm .optionLinks {
  margin-top: 10px;
}
main .authContainer form.authForm .optionLinks a {
  text-decoration: none;
  color: #004A5D;
  margin-right: 20px;
}
main .authContainer form.authForm .optionLinks a:hover {
  text-decoration: underline;
}
main .authContainer form.authForm .alert {
  color: #F48120;
  display: block;
  font-size: 1.2em;
}
main .authContainer form.authForm .invalid-feedback {
  color: #F48120;
}

.fancybox-container #add-category .catNameError {
  color: orangered;
}
.fancybox-container #add-category .catNameError.hide {
  display: none;
}

footer {
  color: white;
  background: #004A5D;
  padding: 3em 0;
}
footer .footerFlex {
  display: flex;
  flex-flow: column;
  align-items: center;
}
footer .footerFlex h3 {
  margin: 0;
}
footer .footerFlex a {
  color: white;
  text-decoration: none;
}
footer .footerFlex .copyright {
  font-size: 14px;
  margin-top: 35px;
}

.fancybox-container input[type=text] {
  width: 100%;
  font-size: 20px;
}
.fancybox-container input[type=submit], .fancybox-container button.cancelButton {
  color: white;
  border: none;
  font-size: 17px;
  float: right;
  margin-top: 20px;
  padding: 0.4em 1em;
}
.fancybox-container input[type=submit]:hover, .fancybox-container button.cancelButton:hover {
  cursor: pointer;
}
.fancybox-container input[type=submit] {
  background: #004A5D;
}
.fancybox-container input[type=submit]:hover {
  background-color: #007390;
}
.fancybox-container button.cancelButton {
  background: #F48120;
  margin-right: 10px;
}
.fancybox-container button.cancelButton:hover {
  background-color: #f69c51;
}
.fancybox-container h2 {
  margin-top: 0;
}

/*# sourceMappingURL=main.css.map */
